body {
    background-color: #f0f0f0;
    padding: 50px;
}

#left_icon {
    height: 35%;
    float: left;
    margin-left: 2%;
    color: rgb(0, 179, 255);
}

#right_icon {
    height: 35%;
    float: right;
    margin-left: 2%;
    color: rgb(0, 179, 255);
}

#h3_left {
    color: rgb(0, 200, 255);
    display: flex;
    margin-left: 2%;
}

#h3_right {
    color: rgb(0, 200, 255);
    float: left;
    margin-left: 2%;
}

#certificate {
    background-color: white;
    border: 2px solid black;
    padding: 30px;
    height: 400px;
    width: 650px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

#cand_name {
    font-weight: 900;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
}

p {
    margin: 10px 0;
}

hr {
    background-color: rgb(0, 200, 255);
    height: 1px;
}